<div class="auth-full-height d-flex flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-md-between align-items-center">
      <div class="col-12 col-md-4">
        <h1 class="fw-bolder mb-4">{{'ERRORS.PAGE.504.HEADER' | translate}}</h1>
        <p class="font-size-lg">{{'ERRORS.PAGE.504.DESCRIPTION.FIRST' | translate}}<a
          [routerLink]="pages.tasks">{{'ERRORS.PAGE.504.DESCRIPTION.LINK' | translate}}</a> {{'ERRORS.PAGE.504.DESCRIPTION.SECOND' | translate}}
        </p>
      </div>
      <div class="col-12 col-md-6">
        <img class="img-fluid" src="/assets/images/others/img-3.png" alt=""/>
      </div>
    </div>
  </div>
</div>
