<div class="row">
    <div class="row">
        <div class="card">
            <h5 class="card-header d-flex align-items-center justify-content-between gap-3">
                <span>Shared Задачи</span>
                <div *ngIf="tasks | async" class="d-flex gap-3">
                    <button class="btn btn-outline-success" (click)="addTasks()">
                        Добавить задачи к своим
                    </button>
                </div>
            </h5>


            <div class="card-body">
                <ngx-datatable
                        [rows]="tasks | async"
                        rowHeight='auto'
                        [columnMode]="ColumnMode.force"
                        [headerHeight]="50"
                >
                    <ngx-datatable-column
                            name="Задача" prop="content"
                            [sortable]="false">
                        <ng-template
                                ngx-datatable-cell-template
                                let-row="row"
                        >
                            <span>{{row.content}}</span>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Дата добавления"
                                          [sortable]="false"
                    >
                        <ng-template
                                ngx-datatable-cell-template
                                let-row="row"
                        >
                            <span>{{row.createdAt | date}}</span>
                        </ng-template>
                    </ngx-datatable-column>
                </ngx-datatable>
            </div>
        </div>
    </div>
</div>


<ng-template #taskCreateModal>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Создать задачу</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="closeTaskCreation()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="taskCreateForm" (ngSubmit)="submitTaskCreation()">
            <div class="mb-3 input-group">
                <textarea class="form-control" formControlName="content" placeholder="Введите текст"></textarea>
            </div>
            <div class="d-flex justify-content-end gap-3">
                <button type="reset" class="btn btn-outline-secondary" (click)="closeTaskCreation()">Отмена</button>
                <button class="btn btn-outline-info">Создать</button>
            </div>
        </form>
    </div>

</ng-template>
